<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('layouts/head',); %>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    </head>
<body>
    <!--nNav-bar Starting here-->
    <%- include('layouts/nav.ejs',); %>
    <!-- welcome alert -->
    <div class="alert alert-info" role="alert">
        <h6 style="text-align: center ;"> welcome ! <%= user.Name %> to  technology  </h6>
      </div>
    <div class="conatiner-product">
        <!--Product Forms-->
        <div class="Product_form-Wrrapper">
            <form method='POST' action='/products'>
                <div class="Names" >
                    <label for="Product_Name">Product-Name</label>
                    <input type="text" class="form-control " id="Product-Name" placeholder=" Product Name" name="Product_Name"required>
                </div>
                <div class="form-group">
                    <label for="inputPrice"> Price (in RS) </label>
                    <input type="number" class="form-control" id="inputPrice" name=price>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">ADD PRODUCT DETAILS</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
                </div>
                    <button class="btn btn-outline-success my-2 my-sm-0 "  type="submit">Add Product</button>   
            </form>
        </div> 
        <div class="product-list">
            <h3 class="list-haeding"> Product-List</h3>
            <% if(products.length>0) { %>
                <% for (let product of products) { %>
            <div class="prdct-summary">
                <h6><%= product.Product_Name %></h6>
                <button class="btn btn-outline-success my-2 my-sm-0 "  type="submit" >
                    <i class="material-icons">delete</i>
                </button> 
                <button class="btn btn-outline-success my-2 my-sm-0 "  type="submit" >
                    <i class="material-icons">update</i> 
                </button> 
            </div>
            <% } %>
            <% } else { %>
                <h1>no products</h1>
                <% } %>
        </div>
    </div>  
    <footer class="site-footer" >
        <%- include('layouts/footer',); %>  
    </footer>
</body>
</html>